*{
margin:0;
padding:0;
}
html{
scroll-behavior:smooth;
}
::placeholder{
color:#fff;		
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff;
}
::selection{
color:#fff;
background:#00ffea;
}


body::-webkit-scrollbar { width: 15px; /* width of the entire scrollbar */ } body::-webkit-scrollbar-track { background:#000; /* color of the tracking area */ } body::-webkit-scrollbar-thumb { background:#00ffea; /* color of the scroll thumb */ border-radius:10px; /* roundness of the scroll thumb */ border:1px solid white; /* creates padding around scroll thumb */ }






/* Navbar css */
.navbar{
background:#20221f;
}
.navbar-brand{
text-spacing:1px;
font-weight:600;
}
.navbar-toggler{
outline:none;
}
#nav_link:hover{
background-color:#00ffea;
border-radius:10px;
}
#navbarSupportedContent{
transition: 0.5s ;
}
#nav-btn{
border-bottom-left-radius:20px;
border-top-right-radius:20px;
background:transparent;
border-color:#00ffea;
padding:7px;
border-width:3px;
color:#00ffea;
}
#nav-btn:hover{
background:#00ffea;
color:#fff;
}


@media screen and (min-width: 480px) {
#nav-btn{
margin-right:3rem;
}
}


@media screen and (min-width: 480px) {
#nav_brand{
margin-left:3rem;
}
}


/* Hero section css*/


#hero{
background:#000;
}

#main_hero{
width:90%;
height:80vh;
background:url("bg.jpeg");
background-size:100% 100%;
background-repeat:no-repeat;
margin-top:2rem;
position:relative;
}
#main_hero img{
height:100vh;
width:90%;
margin-top:2rem;
}
#hero_font{
font-family: 'Rubik Beastly', cursive;
font-size:60px;
letter-spacing:1px;
}
#hero_font2{
font-family:;
font-size:40px;
letter-spacing:1px;
font-weight:900;
}

#main_hero_con{
padding-top:50%;
}


@media screen and (min-width: 430px) {
#main_hero_con{
padding-top:15%;
}
}

@media screen and (max-width: 480px) {
#main_hero_con{
padding-top:40%;
}
}

@media screen and (min-width: 1340px) {
#main_hero_con{
padding-top:5%;
}
}


/* Header css */
#header{
background:#000;
}
#header_main{
background:#20221f;
width:90%;
}
#header_form{
border-color:#00ffea;
border-radius:20px;
border-width:3px;
background:transparent;
}
input{
color:#fff;
}

/* carousel_section css */




#tog{
height:20px;
width:20px;
border-radius: 100%;
}
#carousel_section{
background:#000;
}
.carousel-item{
border-radius:60px;
}
@media screen and (max-width: 2008px) {
.carousel{
margin-right:2.3rem;
margin-left:2.3rem;
}
}
#carousel_font{
color:#00ffea;
font-weight:500;
font-family:;
}
#carousel_font2{
color:#fff;
font-weight:500;
font-family:serif;
}
#carousel_font3{
color:#fff;
font-weight:500;
font-size:12px;
}
#carouselExampleCaptions{
border-radius:20px ;
}
@media screen and (min-width: 768px) {
#carousel_font{
padding-top:2rem;
}
}



/* Destination css */
#destination{
background:#000;
}
#dest_container{
background: #20221f;
width:90%;
padding:20px;
}
#dest_font{
color:#fff;
}
.card{
width:18rem;
background:#000;
color:#fff;
padding:10px;
font-size:15px;
}
#nav-btn2{
border-radius:20px;
background:#00ffea;
border-color:#009e9e;
padding:9px;
height:45px;
width:105px;
border-width:3px;
color:#000;
}
@media screen and (min-width: 750px) {
.card{
width:13rem;
}
}



/* Gallery section css */
#gallery{
background:#20221f;
}
#gallery_container{
width:90%;
background: #000;
padding:20px;
}






/* Friends */
#friends{
background:#000;
}
#friend_container{
width:90%;
background:#20221f;
}
#friend_iframe{
height:120vh;
width:100%;
}

@media screen and (max-width: 480px) {
 #friend_iframe{
height:80vh;
width:100%;
}
}




/* Footer css */

footer{
  background-color: #000;
  padding: 1.6rem 1rem;
  text-align: center; 
}

footer p{
  color: white;
}

footer p span{
  color: var(--customColor);
}

/* Footer CSS */
.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}




/* Go to top button css */

#myBtn{display:none;position:fixed;bottom:8px;right:10px;border-radius:100px;	z-index:99;height:38px;width:38px;cursor:pointer;padding:0px;background-color:#00ffea;border-color:transparent;

		}					
